{% if paginator.pages is not null %}

<style>
    .paginator {
        list-style-type: none;
    }
    .paginator li {
        display: inline;
    }
</style>

<div class="paginator">
    <ul>

    {% if paginator.first %}
        <li><a href="{{ paginator.first }}">&laquo;&laquo;</a></li>
    {% endif %}

    {% if paginator.previous %}
        <li><a href="{{ paginator.previous }}">&laquo;</a></li>
    {% endif %}

     {% for page_num, page_link in paginator.pages %}
        <li>
            [
            {% if page_num != paginator.current_page %}
            <a href="{{ page_link }}">
            {% endif %}
                {% if paginator.mode == 'results' %}
                    {{ max( (page_num - 1)  * items_per_page, 1) }}-{{ page_num  * items_per_page}}</a>
                {% else %}
                    {{ page_num }}</a>
                {% endif %}
             ]
        </li>
    {% endfor %}

    {% if paginator.next %}
        <li><a href="{{ paginator.next }}">&raquo;</a></li>
    {% endif %}

    {% if paginator.last %}
        <li><a href="{{ paginator.last }}">&raquo;&raquo;</a></li>
    {% endif %}

    </ul>
</div>
{% endif %}