{% set printed = false %}

{% if field in model_fillable_fields %}
    {% set is_field_fillable = true %}
{% else %}
    {% set is_field_fillable = false %}
{% endif %}

{% if language is not null
    and data[field] is not null
    and data[field] is iterable
%}
    {# field has some value #}
    {# we already know it's multilanguage because we have "language" var set (from form.twig) #}
    {# maybe it's the first time in here (now we want multilang) so it could not be an array#}
    {% set field_value = data[field][language] %}
{% endif %}

{% if '.' in field %}
{#field from a referenced model#}
    {% set referenced_field_data = field|split('.') %}
    {% set referenced_model = referenced_field_data[0] %}
    {% set referenced_field = referenced_field_data[1] %}
    {% set self_field = referenced_model ~ '_id' %}
    {% set field_value = data['relations'][referenced_model]['items'][0][referenced_field] %}
{% endif %}

{#it's the parent_id => reference to a content of the same model#}
{% if field == 'parent_id' %}
    {% set referenced_model = model_name %}
    {% set referenced_field = models_list[referenced_model].fields.in_list[0] %}
    {% set self_field = 'parent_id' %}
{% endif %}

{% if field_value is null %}
    {% set field_value = data[field] %}
{% endif %}
{#display field value #}
{% if is_field_fillable %}
    {# value can be modified #}
    {# check if it's a value from a foreign model (or maybe same self (parent)) #}
    {% if referenced_model is not null %}
        <select style="width:100%" data-qa="{{ self_field }}" name="{{ self_field }}">
            <option value="DB_NULL"></option>
            {% for referenced_item_data in editable_referenced_models_contents[referenced_model].items %}
                {% if referenced_item_data[models_list[referenced_model].fields.in_list[0]] is iterable %}
                    {# it's multilanguage #}
                    {% set field_value = referenced_item_data[referenced_field][config.domain_structure.language] %}
                {% else %}
                    {% set field_value = referenced_item_data[referenced_field] %}
                {% endif %}

                {# little hack: if referenced model is self (static_pages parents eg), do not show self id #}
                {% if model_name == referenced_model and data['id'] == referenced_item_data['id'] %}
                    {#nothing to do, it's self#}
                {% else %}
                    <option
                            value="{{ referenced_item_data['id'] }}"
                            {% if referenced_item_data['id'] == data[self_field] %} selected="selected"{% endif %}
                    >{{ field_value }}</option>
                {% endif %}
            {% endfor %}
        </select>
    {% else %}
        {# just display a form element#}
        {% if field_info is not null %}
            {# field has specific settings #}
            {% if field_info.classes is not null %}
                {# classes for the form element #}
                {% set classes = field_info.classes %}
            {% endif %}
            {% if  field_info.type is not null %}
                {% if field_info.type == "textarea" %}
                    {% if 'richtext' in field_info.classes %}
                        {% set printed = true %}
                        <textarea id="richtext_{{ field }}{{ language_array }}" data-qa="{{ field }}" name="{{ field }}{{ language_array }}" class="{{ classes }}">
                            {{ field_value }}
                        </textarea>
                        <script>
                            $(document).ready(function() {
                                tinymce.init({
                                    'language': '{{ config.domain_structure.language }}',
                                    content_css: [
                                        "{{ theme_style_sheet }}",
                                        "https://use.fontawesome.com/releases/v5.4.1/css/all.css",
                                        "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
                                        ],
                                    selector: ".richtext",
                                    height: 300,
                                    plugins: "textcolor image visualblocks table fullscreen layer template code",
                                    verify_html: false,
                                    file_browser_callback: RoxyFileBrowser,
                                    {% if theme_blocks_json is not null %}
                                    templates: {{ theme_blocks_json|raw }}
                                    {% endif %}
                                });
                            });
                        </script>
                    {% endif %}

                {% elseif field_info.type == "file" %}
                    {% set printed = true %}
                    {{ field_value }}
                    <input type="file" data-qa="{{ field }}" name="{{ field }}" />

                {% elseif field_info.type == "date" %}
                    {% set printed = true %}
                    <input type="text" id="{{ field }}" data-qa="{{ field }}" name="{{ field }}" value="{{ field_value }}" class="datetime-picker" />
                    <script>
                        // https://flatpickr.js.org/
                        $(function () {
                            $('#{{ field }}').flatpickr({
                                enableTime: true,
                                dateFormat: "Y-m-d H:i:ss",
                                time_24hr: true,
                                defaultHour: 0,
                                defaultDate: '{{ field_value }}',
                                allowInput: true
                            });
                        });
                    </script>
                {% endif %}
            {% endif %}
        {% endif %}

        {% if not printed %}
            {# not any specific info for this field #}
            <input type="text" data-qa="{{ field }}" size=50 name="{{ field }}{{ language_array }}" value="{{ field_value }}" />
        {% endif %}

    {% endif %}
{% else %}
    {# field not fillable, display as text #}
    {% if models_metadata[model_name][field] is not null %}
        {#field nice value is defined on model metadata#}
        {{ models_metadata[model_name][field][data[field]] }}
    {% else %}
        {% if field_value is iterable %}
            <ul>
            {% for key, value in field_value %}
                <li style="margin-bottom: 40px"><h4>{{ key }}</h4>
                {% if value is iterable %}
                    <table border="1">
                    {% for key2, value2 in value %}
                        <tr>
                            {% set kkey = key2|split('##') %}
                            <td style="width:70%; padding:15px; font-weight: bold; text-transform: uppercase">{{ kkey[0] }}</td>
                            <td style="text-align: right; padding: 15px;">
                                <span>{{ value2 }}</span>
                                <input type="button" class="copy_to_clipboard" value="copy" style="font-size: 11px; padding: 5px; margin: 5px;"  />
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
                {% else %}
                    : {{ value }}
                {% endif %}
                </li>
            {% endfor %}
            </ul>
        {% else %}
            {{ field_value }}
        {% endif %}
    {% endif %}
{% endif %}