* {
    font-family: Verdana;
}

body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f8f9+0,e5ebee+26,d7dee3+65,f5f7f9+100 */
    /*background: #f6f8f9; !* Old browsers *!*/
    /*background: -moz-linear-gradient(top, #f6f8f9 0%, #e5ebee 26%, #d7dee3 65%, #f5f7f9 100%); !* FF3.6-15 *!*/
    /*background: -webkit-linear-gradient(top, #f6f8f9 0%,#e5ebee 26%,#d7dee3 65%,#f5f7f9 100%); !* Chrome10-25,Safari5.1-6 *!*/
    /*background: linear-gradient(to bottom, #f6f8f9 0%,#e5ebee 26%,#d7dee3 65%,#f5f7f9 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); !* IE6-9 *!*/
    padding: 5px;
}

h1 {
    font-size: 20px;
}
table td {
    padding: 5px;
}
ul {
    padding: 5px;
}

#header {
    float: left;
    width: 100%;
    padding-left: 10px;
    margin: 10px 10px 10px 0;
    padding: 10px;
    background-color: grey;
    color: #FFF;
    border: 2px dashed black;
    border-radius: 5px;
}

#header h1 {
    margin: 0;
    display: inline-block;
}

#header span {
    float: right;
}

#navbar {
    float: left;
    height: 100%;
    background-color: #262626;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

#navbar > h4 {
    color: #FFF;
    margin-left: 10px;
}

#navbar ul {
    margin: 0;
    padding: 0;
    border: 1px dashed black;
}
#navbar li {
    padding: 5px 20px;
    margin: 0;
    color: black;
    background-color: grey;
    border-bottom: 1px solid #000;
    cursor: pointer;
}

#navbar li.selected {
    background-color: #A2CC2D;
    color: black;
}

#navbar li a {
    text-decoration: none;
}

#order_navbar{
    float: left;
    width: 100%;
    background-color: #FFFFFF;
    padding: 10px;
}

#order_navbar input {
    text-decoration: none;
    padding: 10px;
    font-weight: 300;
    font-size: 15px;
    color: #262626;
    background-color: #A2CC2D;
    border-radius: 0px;
}
#order_navbar a {
    display: block;
    text-decoration: none;
    padding: 10px;
    font-weight: 300;
    font-size: 15px;
    color: #262626;
    background-color:#A2CC2D;
    border-radius: 0px;
    box-sizing: border-box;
}

#order_navbar li {
    display:block;
    float:left;
    padding:0 10px;

}

#navbar a {
    color: #FFF;
}

.dashed-group {
    border: 1px dashed #BBB;
    padding: 10px;
}

#finder input[type=text] {
    padding: 2px 0 5px 5px;
}

#new-entry {
    float: right;
    padding: 5px;
    border: 1px solid black;
    border-bottom: 0;
    background-color: #A2CC2D;
}
#new-entry  a {
    color: white;
    text-decoration: none;
}

#content {
    float: left;
    padding: 10px;
    padding-left: 10px;
    margin-left: 10px;
    width: 100%;
    background: white;
    border-radius: 5px;
}

#content h1 {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #A2CC2D;
    width: 100%;
    border: 2px dotted grey;
    border-radius: 5px;
}

#content .content-listing {
    width: 100%;
    border: 1px solid black;
}

#content .content-listing tr {
    cursor: pointer;
    border: 1px solid black;
}

#content .content-listing tr:not(:first-child):hover {
    background-color: #A2CC2D;
}

#content .content-listing tr:nth-child(even) {
    background-color: #DDD;
}

#content .content-listing tr:first-child{
    font-weight: bold;
    background-color: grey;
    cursor: default;
}
#content .content-listing tr:first-child a {
    font-size: 18px;
    line-height: 10px;
    color: black;
}

.ckeditor {
    height: 400px;
}

.ckf-page-regions.ui-content #ckf-98, #ckf391-popup {
    display: none;
}